@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


/* Root Variables */
:root:not(.light){
    --bg-color: #292929;
    --second-bgcolor: #1c1c1c;
    --color:#fff;
    --second-color:#888888;
}

/* Global Variables */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    outline: none;
}

h1, h2 {
    color: var(--color);
    font-size: 4rem;
    font-weight: 700;
}

h3 {
    color: var(--color);
    font-size: 1.5rem;
    font-weight: 500;
}

/* Header */
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 2rem 9%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
    background: var(--bg-color);
}

.header .sticky {
	border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.header .logo {
    font-size: 2rem;
    font-weight: 800;
    color: var(--color);
	font-family: 'Great Vibes', 'Poppins', sans-serif;
	transition: 0.5s ease;
}

.navbar a {
	font-size: 1rem;
	color: var(--color);
	font-weight: 600;
	margin-left: 35px;
	text-decoration: none;
	transition: 0.5s ease;
    position: relative;
    text-transform: uppercase;
}

.navbar a:hover, .logo:hover
/* ,.navbar a.active */
{
	color: #ff5252;
}

#menu-icon {
	font-size: 3.6rem;
	color: #fff;
	display: none;
}

/* Section */
section {
	min-height: 100vh;
	padding: 10rem 9% 2rem;
}

/* Home Content */
.home {
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-content {
    position: relative;
    padding: 150px 0 50px;
    width: 60%;
	margin-bottom: 10rem;
}


.welcome-message .welcome-msg{
    color: var(--color);
    font-weight: 500;
    letter-spacing: 3px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.welcome-text h1{
    display: inline;
    margin-right: 15px;
}

.home-content p {
    line-height: 30px;
    padding-right: 26%;
    color: var(--color);
}

.text-wrap {
    position: relative;
    display: inline-flex;
    overflow: hidden;
    cursor: pointer;
}

.main-title {
    -webkit-text-stroke: 1px var(--color);
    -webkit-text-fill-color: transparent;
}

.main-title, .hover-title {
    transition: 0.5s cubic-bezier(0.51, 0.57, 0.17, 1);
}

.hover-title {
    color: var(--color);
    position: absolute;
    transform: translate3d(0, 100%, 0);
}

.text-wrap:hover .main-title {
    transform: translate3d(0, -100%, 0);
    transition-delay: 0.1s;
}

.text-wrap:hover .hover-title {
    transform: translate3d(0,0,0);
}

/* CV button */
.cv-btn {
    text-decoration: none;
    display: inline-block;
    margin: 15px 0;
    padding: 15px 30px;
    color: var(--color);
    background: #ff5252;
    border-radius: 0.3rem;
    box-shadow: 0 0 1rem #ff5252;
    border: 0;
    position: relative;
    z-index: 1;
    transition: ease 0.3s;
    text-transform: uppercase;
    line-height: 30px;
}

.cv-btn::before {
    background: #44f;
    border-radius: 0.3em;
    box-shadow: 0 0 1rem #44f;
    top: 0;
    width: 0;
    right: 0;
    z-index: -1;
    bottom: 0;
    content: '';
    position: absolute;
    transition: 0.3s ease-in;
}

.cv-btn:hover::before {
    left: 0;
    width: 100%;
    right: auto;
}

/* Image */
.image-container img {
    border-radius: 4rem;
	box-shadow: 0 1rem 1rem #ff5252;
	width: 35vw;
	animation: floatImage 4s ease-in-out infinite;
}

.image-container img:hover {
    transition: 0.5s ease-in all;
}

/* Image Keyframes */
@keyframes floatImage {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-2.4rem);
	}

	100% {
		transform: translateY(0);
	}
}

/* Skills Section */
.skills {
	background: var(--second-bgcolor);
	text-align: center;
}

.skill-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	margin-bottom: 10rem;
}

.skill-list h3 {
	border: 1px solid #fff;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 4rem;
	height: 50px;
	padding: 0 20px;
	margin: 1rem 0;
	transition: 0.3s ease;
}

.skill-list h3:hover {
	box-shadow: 0 1rem 1rem #44f;
	background: #44f;
	transform: translateY(-10px);
}

/* Contact Section */
.contact{
    background: var(--bg-color);
    text-align: center;
}

.contact-content {
	margin-bottom: 10rem;
}

.divider {
    height: 100px;
    max-height: 150px;
    border: 1px solid #fff;
    border-radius: 1rem;
}

.contact-info{
    margin: 30px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact-info .email {
    color: var(--second-color);
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
    width: 50%;
}

.email:hover {
    color: var(--color);
}

.social-media {
    width: 50%;
}

.social-media a{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 4rem;
	height: 4rem;
	background: transparent;
	border: 0.2rem solid #fff;
	border-radius: 50%;
	font-size: 2rem;
	color: #fff;
	margin: 3rem 1.5rem 3rem 0;
	transition: 0.5s ease;
}

.social-media a:hover {
	background: #ff5252;
	color: #fff;
	box-shadow: 0 0 1rem #ff5252;
	border-color: #ff5252;
}


/* Footer */
.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 2rem 9%;
	background: var(--bg-color);
}

.footer-text {
	font-size: 1rem;
    color: #fff;
}

.footer-iconTop a {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0.8rem;
	background: #ff5252;
	border-radius: 0.8rem;
	transition: 0.5s ease;
}

.footer-iconTop a:hover {
	box-shadow: 0 0 1rem #ff5252;
}

.footer-iconTop a i {
	font-size: 2.4rem;
	color: #fff;
}

/* Media Queries */
@media (max-width: 1200px) {
	html {
		font-size: 55%;
	}
}


@media (max-width: 991px) {
	.header {
		padding: 2rem 3%;
	}

	section {
		padding: 10rem 3% 2rem;
	}

	.contact {
		min-height: auto;
	}

	.footer {
		padding: 2rem 3%;
	}
}

@media (max-width: 768px) {
	
	#menu-icon {
		display: block;
	}

	.header .logo {
		font-size: 2.5rem;
		font-weight: 700;
	}

	.navbar {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		padding: 1rem 3%;
		background: var(--bg-color);
		border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
		display: none;
	}

	.navbar.active {
		display: block;
	}

	.navbar a {
		display: block;
		font-size: 2rem;
		margin: 3rem 0;
	}

	.home {
		flex-wrap: wrap;
		padding: 0 2rem;
	}

	.home-content h1 {
		font-size: 5rem;
	}

	.home-img {
		width: 70vw;
		margin-top: 4rem;
	}

	.skill-list {
		grid-template-columns: 1fr;
	}

}

@media (max-width: 450px) {
	html {
		font-size: 50%;
	}

	.contact form .input-box input {
		width: 100%;
	}

	.footer {
		flex-direction: column-reverse;
	}

	.footer p {
		text-align: center;
		margin-top: 2rem;
	}
}

@media (max-width: 365px) {
	.home-img img{
		width: 90vw;
	}

	.footer {
		flex-direction: column-reverse;
	}

	.footer p {
		text-align: center;
		margin-top: 2rem;
	}
}